/**
                       __    __    _______  _______ 
.---.-..--.--..-----.|  |  |__|  |       ||   |   |
|  _  ||_   _||  -__||  |   __   |   -   ||       |
|___._||__.__||_____||__|  |__|  |_______||__|_|__|
                      \\\_____ axels OBJECT MANAGER


*/
:root{
	--navSidebarActiveItemBg: #489;
	--navSidebarActiveItemColor: white;
	--navSidebarActiveIconColor: #fa6;
	--navTopActiveItemBg: #cee;
	--overlayBg: rgba(0,30,30,0.5);
	--overlayBoxBordercolor: rgba(0,30,30,0.5);
	--overlayBoxShadow: #345;
	--formHintBg: #e0f4f4;
	--requiredColor: #c00;
	--iconcolor: #2ac;

	/** colors from AdminLTE 3
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	 */

}

main {
	background-color: #f4f6f9;
}

button{border: 1px solid rgba(0,0,0,0.1) !important;}
del{background-color: #fdd;}
ins{background-color: #cfc}


.required{color: var(--requiredColor);}

.app-header li.nav-item a[href*="?"]:hover{background-color: #f0f0f0;}
li.nav-item .active{background-color: var(--navTopActiveItemBg);}
li.nav-item .active i {color:var(--iconcolor);}

.sidebar-wrapper .sidebar-menu > .nav-item > .nav-link.active:not(:hover),
.sidebar-wrapper .sidebar-menu > .nav-item > .nav-link.active:hover
 {
	background: var(--navSidebarActiveItemBg);
	color: var(--navSidebarActiveItemColor);
}
.sidebar-wrapper .nav-item i {
	color:var(--iconcolor);
}
.sidebar-wrapper .nav-item .active i {
	color:var(--navSidebarActiveIconColor);
}

/** AdminLTE 3 **/
.bg-navy {background-color: #001f3f !important;}.bg-navy, .bg-navy > a {color: #fff !important;}
.page-title {color: #958;}
.page-title span::before {color: #385; content: ' / '; margin: 0 0.3em;}
.page-hint {
	color: #d72; 
	font-size: 120%; 
}


a .fix-nolabel{margin-top: -0.5em;}

div#overlay{position: fixed; height: 100%; width: 100%; top: 0; background: var(--overlayBg); display: none;}
div#overlay-text{position: fixed; height: 80%; width: 60%; top: 5em; left: 20%; background: #fff; 
	border: 3px solid var(--overlayBoxBordercolor); border-radius: 2em ;
	box-shadow: 1em 1em 3em var(--overlayBoxShadow);
	padding: 2em;
	overflow: auto;
}

pre.config{background:#f4f4f4; color:#448; border-radius: 0.5em; max-height: auto; transition: all ease-in-out 0.2s;}
.hidden{max-height: 0px; padding: 0; margin: 0;}

.dataTables_length select{ border: 1px solid #eee; border-radius: 0.3em; padding: 0.1em 0.5em; background-color: #dee;}

.dataTables_filter label input {
	border: 1px solid #ced4da;
	border-radius: .25rem;
}
.dataTables_wrapper .dataTables_filter{
	float: left; text-align: unset; margin-left: 1em; padding-left: 1em; border-left: 1px solid #bcc;
}

table.dataTable thead th, table.dataTable thead td {
	border-bottom: 1px solid #bcc;
	background-color: #dee;
}

table.dataTable.no-footer {
	border-bottom: 1px solid #bcc;
}

table tr.error{background:#f0e0e0 !important;}
table tr.info{}
table tr.warning{background:#f0e0c0 !important;}

.card-body .preview {border: 1px dotted; padding: 1em;}
.card-body .preview *{max-width: 100%;max-height: 100%;}

.nav-item hr{color: #bbb; border-top: 1px solid; height: 1px; padding: 0; margin: 0; }

.callout, .card, .info-box {box-shadow: 0 0 1px rgba(0,0,0,.125),0 0.3em 1em rgba(0,150,200,.1); }
.card{border: none; margin-bottom: 1rem;}

h2 a, h3 a, h4 a, .callout a, .card-header a, table a{color: #358; text-decoration: none;}
.callout a:hover, .card-header a:hover{color: #09a;}
.card-header {background: #f6fafa;}
.card-title i {color:rgba(0,80,80,0.3)}
.card-title i, .callout i {color:rgba(0,80,80,0.3);}
.card-title i, .callout i {color:var(--iconcolor);}

input.form-control[required]{ border-right: 0.3em solid var(--requiredColor); background: linear-gradient(90deg, #fffcfc 85%, #fee);}
.row .hint{
	background: var(--formHintBg); padding: 0.3em 0.7em; margin-bottom: 0.5em; transform: skewX(-5deg);
	border-left: 2px dotted;
	width: 95%;
}

.height10em{min-height: 10em;}

datalist {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	writing-mode: vertical-lr;
	width: 100%;
}

.display-none{display: none;}

#msgOtherChanges{display: none;}

/** Codemirror **/
div.CodeMirror {
	font-family: 'Courier New', Courier, monospace; font-size: 0.8em; height: 30em;
	resize: vertical;
	/*overflow: auto !important;*/
};