/**
                       __    __    _______  _______ 
.---.-..--.--..-----.|  |  |__|  |       ||   |   |
|  _  ||_   _||  -__||  |   __   |   -   ||       |
|___._||__.__||_____||__|  |__|  |_______||__|_|__|
                      \\\_____ axels OBJECT MANAGER


*/
:root{
	--bodyBg: none;

	--navSidebarBg: #333;
	--navSidebarBrandBg: var(--navSidebarBg);
	--navSidebarBrandColor: #aaa;

	--navIconColor: #bbb;

	--navSidebarItemBg: none;
	--navSidebarItemColor: #fffa;
	--navSidebarItemHoverBg: none;
	--navSidebarItemHoverColor: #fff;

	--navSidebarActiveItemBg: #555;
	--navSidebarActiveItemColor: white;
	--navSidebarActiveIconColor: #ccc;

	--navSidebarActiveItemBorder: none;
	--navSidebarActiveItemBoxShadow: none;

	--navTopItemHoverBg: #f0f0f0;
	--navTopActiveItemBg: #ddd;
	--navTopActiveItemBorder: none;
	--navTopActiveItemBoxShadow: none;

	--overlayBg: rgba(0,30,30,0.5);
	--overlayBoxBordercolor: rgba(0,30,30,0.5);
	--overlayBoxShadow: #345;

	--breadcrumbDelimterColor: #444;

	--formHintBg: #eee;
	--requiredColor: #c00;
	--iconcolor: #aaa;

	--cardBg: #fff;
	--tileNumberColor: #aaa;

	--pagehintColor: #555;

	--datatable-header-bg: #ddd;

	/** colors from AdminLTE 3
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	 */

}
body{
	background: var(--bodyBg);
}

blockquote{background-color: #f4f6f9; margin-left: 2em; padding: 1em;}
button{border: 1px solid rgba(0,0,0,0.1) !important;}
button.btn:disabled{
	color: #888;
}
del{background-color: #fdd;}
ins{background-color: #cfc}


.required{font-weight: bold;}
.required:after{color: var(--requiredColor); content: ' *';}
.in-overview{background: #eff; }

.app-header{border: none; }
.app-header li.nav-item a{border-radius: 0.5em;}
.app-header li.nav-item a[href*="?"]:hover{background: var(--navTopItemHoverBg);}
.app-header li.nav-item .active{background: var(--navTopActiveItemBg) !important; 
	border: var(--navTopActiveItemBorder);
	box-shadow: var(--navTopActiveItemBoxShadow);
}

.app-footer{background: none; }

.btn-big{
	padding: 1em;
}
.btn-big i{
	font-size: 200%;
};

li.nav-item i {color:var(--navIconColor);}
li.nav-item .active i {color:var(--iconcolor);}


.bg-body-secondary{
	background: var(--navSidebarBg) !important;
	box-shadow: none !important;
}
.sidebar-brand, .sidebar-brand a, .sidebar-brand .brand-text, .sidebar-brand .brand-text:hover{
	background: var(--navSidebarBrandBg) !important;
	border: none;
	color: var(--navSidebarBrandColor);
}

.sidebar-menu .nav-item > .nav-link{
	background: var(--navSidebarItemBg);
	color: var(--navSidebarItemColor);
}
.sidebar-menu .nav-item:hover{
	background: var(--navSidebarItemHoverBg) !important;
	color: var(--navSidebarItemHoverColor) !important;
}
.sidebar-menu .nav-item:hover a{
	color: var(--navSidebarItemHoverColor) !important;
}

.sidebar-wrapper .sidebar-menu > .nav-item > .nav-link.active:not(:hover),
.sidebar-wrapper .sidebar-menu > .nav-item > .nav-link.active:hover
 {
	background: var(--navSidebarActiveItemBg);
	color: var(--navSidebarActiveItemColor) !important;
	border: var(--navSidebarActiveItemBorder);
	box-shadow: var(--navSidebarActiveItemBoxShadow);
}
.nav-item i {
	color:var(--navSidebarIconColor, default);
}
.sidebar-wrapper .nav-item .active i {
	color:var(--navSidebarActiveIconColor);
}

/** AdminLTE 3 **/
.page-title {color: #123}
.page-title span::before {color: var(--breadcrumbDelimterColor); content: ' / '; margin: 0 0.3em;}
.page-hint {
	color: var(--pagehintColor);
	font-size: 120%; 
}


a .fix-nolabel{margin-top: -0.5em;}

div#overlay{position: fixed; height: 100%; width: 100%; top: 0; background: var(--overlayBg); display: none;}
div#overlay-text{position: fixed; height: 80%; width: 60%; top: 5em; left: 20%; background: #fff; 
	border: 3px solid var(--overlayBoxBordercolor); border-radius: 2em ;
	box-shadow: 1em 1em 3em var(--overlayBoxShadow);
	padding: 2em;
	overflow: auto;
}

pre.config{background:#f4f4f4; color:#448; border-radius: 0.5em; max-height: auto; transition: all ease-in-out 0.2s;}
.hidden{max-height: 0px; padding: 0; margin: 0;}

.dataTables_length select{ border: 1px solid #eee; border-radius: 0.3em; padding: 0.1em 0.5em; background: var(--datatable-header-bg);}

.dataTables_filter label input {
	border: 1px solid #ced4da;
	border-radius: .25rem;
}
.dataTables_wrapper .dataTables_filter{
	float: left; text-align: unset; margin-left: 1em; padding-left: 1em; border-left: 1px solid #bcc;
}

table.dataTable thead th{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	background: var(--datatable-header-bg);
}	
table.dataTable thead th.actions{
	width: 50px;
}

table.dataTable tr:hover td{
	background: #ffecd7 !important;
	box-shadow: none;;
}

table.dataTable.no-footer {
	border-bottom: 1px solid #bcc;
}

table tr.error>td {background:#f0e0e0 !important;}
table tr.info{}
table tr.warning>td{background:#f0e0c0 !important;}

.card{background: var(--cardBg);}
.card-body .preview {border: 1px dotted; padding: 1em;}
.card-body .preview *{max-width: 100%;max-height: 100%;}

.nav-item hr{color: #bbb; border-top: 1px solid; height: 1px; padding: 0; margin: 0 0 0.2em; }

.callout, .card, .info-box {
	box-shadow: 0 0 1px rgba(0,0,0,.125),0 0.3em 1em rgba(0,150,200,.1); 
}
.card{border: none; margin-bottom: 1rem;}
.col-md-2 .callout{
	background: #fffa;
}

h2 a, h3 a, h4 a, .callout a, .card-header a, table a{color: #459; text-decoration: none;}
h2 i{color: var(--iconcolor);}
.card-header a{font-size: 110%;;}
.callout a:hover, .card-header a:hover{color: #09a;}
.card-header { background: var(--cardHeaderBg); border-bottom: 2px solid rgba(0,0,0,.05);}
.card-title i {color:rgba(0,80,80,0.3)}
.card-title i, .callout i {color:rgba(0,80,80,0.3);}
.card-title i, .callout i {color:var(--iconcolor);}

.info-box .info-box-number {font-size: 200%; margin: 0; color: var(--tileNumberColor);}

input.form-control[required]{ border-right: 0.3em solid var(--requiredColor); background: linear-gradient(90deg, #fffcfc 85%, #fee);}
.row .hint{
	background: var(--formHintBg); padding: 0.3em 0.7em; margin-bottom: 0.5em; transform: skewX(-5deg);
	border-left: 1px dotted;
	width: 95%;
}
::placeholder{
	color: #366 !important;
	opacity: 0.8 !important;
}


datalist {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	writing-mode: vertical-lr;
	width: 100%;
}


#msgOtherChanges{display: none;}

.bootstrap-select .dropdown-menu li.selected
{
	background: var(--navTopActiveItemBg);
}

/** Codemirror **/
div.CodeMirror {
	font-family: 'Courier New', Courier, monospace; font-size: 0.8em; height: 30em;
	resize: vertical;
	/*overflow: auto !important;*/
};


/* --------- generic classes -----------*/

.height10em{min-height: 10em;}
.display-none{display: none;}
