/**
                       __    __    _______  _______ 
.---.-..--.--..-----.|  |  |__|  |       ||   |   |
|  _  ||_   _||  -__||  |   __   |   -   ||       |
|___._||__.__||_____||__|  |__|  |_______||__|_|__|
                      \\\_____ axels OBJECT MANAGER


*/
:root{
	--bodyBg: url(../../assets/bg-rauschen.jpg) fixed;
	
	/*
	--navSidebarBg: rgb(39, 38, 63);
	--navSidebarBg: none;
	*/
	--navIconColor: #abc;

	--navSidebarBg: #fff3;
	--navSidebarBrandBg: none;
	--navSidebarBrandColor: #000;

	--navSidebarItemBg: none;
	--navSidebarItemColor: #457;
	--navSidebarItemHoverBg: #fff8;
	--navSidebarItemHoverColor: #457;
	/*
	--navSidebarActiveItemBg: #489;
	--navSidebarActiveItemBg: #647;
	*/
	--navSidebarActiveItemBg: linear-gradient(13deg, #86a, #8bc);
	--navSidebarActiveItemColor: white;
	--navSidebarActiveIconColor: #acd;

	--navTopItemHoverBg: #fff;
	--navTopActiveItemBg: #cee;
	--navTopActiveItemBg: #eed1ab;
	--navTopActiveItemBg: linear-gradient(13deg, #ece, #eda);

	--overlayBg: rgba(0,30,30,0.5);
	--overlayBoxBordercolor: rgba(0,30,30,0.5);
	--overlayBoxShadow: #345;
	--formHintBg: #fff1e4;
	--requiredColor: #c00;
	--iconcolor: #2ac;
	--cardBg: #fff4;
	--cardHeaderBg: none;
	--breadcrumbDelimterColor: #d72;

	--pagehintColor: #969;
	--tileNumberColor: #09a;

	--datatable-header-bg: #e8e0e8;

	--bs-body-bg-rgb: none;

	/*
	--main-color-success: #6a8;
	--main-color-info: #bcd;
	--main-color-primary: #89d;

	.bg-success, .card-success, .text-bg-success{--lte-card-variant-bg: var(--main-color-success);}
	.bg-success, .btn-success, .card-success, .text-bg-success{--bs-btn-bg: var(--main-color-success);}

	.bg-info, .card-info, .text-bg-info{--lte-card-variant-bg: var(--main-color-info);}
	.bg-info, .btn-info, .card-info, .text-bg-info{--bs-btn-bg: var(--main-color-info);}

	.bg-primary, .card-primary, .text-bg-primary{--lte-card-variant-bg: var(--main-color-primary);}
	.bg-primary, .btn-primary, .card-primary, .text-bg-primary{--bs-btn-bg: var(--main-color-primary);}
	*/
	
}
